.input{
    font-size:18px;
    width: 50%;
    margin:10px;
    padding:5px;
}
.btn_search{
    background-color: #b1d3d0;
    height: 36px;
    /* border: none; */
    border-radius: 5px;
    width: 100px;
    color: #070d04;
    font-size: 18px;
    margin-right: 5px;
    cursor: pointer;
}
