.table {
    width: 100%;
    border: 1px solid #000;
 }
 .td{
    width: auto;
    text-align: center;
    vertical-align: top;
    border-bottom: 1px solid #000;
    font-weight: 700;
    font-size: 16px;
    
 }
 .td:hover{
    /* cursor: pointer; */
    background-color: rgb(231, 235, 234);
 }